<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html>
  <head>
    <% if Rails.configuration.google_analytics %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="<%= google_analytics_url %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', "<%= ENV["GOOGLE_ANALYTICS_TRACKING_ID"] %>");
      </script>
    <% end %>

    <title>SeaYou</title>
    <meta property="og:title" content="SeaYou">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Conectate y disfruta de una conferencia a través de nuestra plataforma.">
    <link rel="icon" type="image/png" href="https://bigblue.mexnube.com/b/favicon.ico">
    <meta property="og:url" content="<%= request.base_url %>" />
    <meta property="og:image" content="<%= logo_image %>" />

    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>

    <!-- Global javascript variables and helpers. -->
    <script type="text/javascript">
      window.GreenLight = {};
      window.GreenLight.WEBSOCKET_HOST = "<%= ENV['WEBSOCKET_HOST'] %>"
      window.GreenLight.RELATIVE_ROOT = "<%= relative_root %>"
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Primary color styling -->
    <%= stylesheet_link_tag themes_primary_path %>

    <script type="text/javascript">
      // Include the correct translated strings for Javascript
      window.I18n = <%= current_translations.to_json.html_safe %>
      window.I18nFallback = <%= fallback_translations.to_json.html_safe %>
    </script>
  </head>

  <body class="app-background" data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" data-relative-root="<%= Rails.configuration.relative_url_root || "/" %>">
    <%= render "shared/header" %>

    <div class="wrapper">
      <% if bigbluebutton_endpoint_default? %>
        <div class="alert alert-icon alert-danger text-center mb-0">
          <div class="flash alert d-inline">
            <i class="fas fa-exclamation-triangle"></i>
            <p class="d-inline"><%= t("test_install",
              href: link_to(t("docs").downcase, "http://docs.bigbluebutton.org/install/greenlight-v2.html#2-install-greenlight", target: "_blank", rel: "noopener")
            ).html_safe %>
          </div>
        </div>
      <% end %>

      <% unless Rails.configuration.banner_message.blank? %>
        <div class="alert alert-icon alert-danger text-center mb-0">
          <div class="flash alert d-inline">
            <p class="d-inline"><%= Rails.configuration.banner_message %></p>
          </div>
        </div>
      <% end %>

      <%= render 'shared/flash_messages' unless flash.empty? %>

      <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </body>
  <link rel="stylesheet" type="text/css" href="https://bigblue.mexnube.com/b/home.css">
  <script type="text/javascript">
  window.onload="goready()";
  function goready() {
    div_position('div1',6500);
    div_position('div2',7200);
    div_position('div3',4200);
    div_position('div4',5100);
    div_position('div5',6000);
    div_position('div6',7400);
    div_position('div7',8000);
    div_position('div8',9200);
  }
    //to move the div to specific location:
function div_position(id, seconds) {
  let myDiv = document.getElementById(id);

  let window_width = window.innerWidth-100;
  let window_height = window.innerHeight-100;

  let x = window_width * Math.random();
  myDiv.style.left = x + "px";

//  let y = window_height * (Math.random() * (0.6 - 0.3) + 0.3);

    let y = Math.random() * (330 - 180) + 180;

    myDiv.style.top = y + "px";

  myDiv.style.transition =
    "top " + seconds + "ms ease,left " + seconds + "ms ease";
}
//intervals for moving divs:
let interval1 = setInterval(function () {
  div_position("div1", 5500);
}, 8500);
let interval2 = setInterval(function () {
  div_position("div2", 5200);
}, 4200);
let interval3 = setInterval(function () {
  div_position("div3", 4200);
}, 8200);
let interval4 = setInterval(function () {
  div_position("div4", 5100);
}, 10100);
let interval5 = setInterval(function () {
  div_position("div5", 6000);
}, 5000);
let interval6 = setInterval(function () {
  div_position("div6", 6400);
}, 7400);
let interval7 = setInterval(function () {
  div_position("div7", 6000);
}, 9000);
let interval8 = setInterval(function () {
  div_position("div8", 6200);
}, 15200);
</script>
</html>
